# Ignore gcc4mbed library - it should be compiled per branch per machine
gcc4mbed/

# Ignore gcc4mbed release folders
*/NUCLEO_F410RB/
*/NUCLEO_L476RG/
Release/
Debug/
Develop/

# Ignore mbed-cmake library - it should be set up per machine
mbed-cmake/
*/CMakeFiles/
*/CMakeCache.txt
*/cmake_install.cmake


# Ignore release folders
build/

# Ignore standard executables
*.elf
*.hex
*.pyc
*.pyo
*.swp

# Ignore generated JLink files
*.Jlink
*.jlink

# Ignore workspace files
*.code-workspace
settings.json
.hg

# Ignore any release folders created by make
NUCLEO_F410RB/
NUCLEO_L476RG/

# Ignore cortex-debug state
.cortex-debug.*

